<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/images/bibliotheque.png">
    <ion-card-header>
      <ion-card-subtitle>Gestion des emprunts de livres</ion-card-subtitle>
      <ion-card-title>Library</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Library est une application de gestion des emprunts de livres d'une bibliothèque.
    </ion-card-content>
  </ion-card>
</ion-content>